extends layout

block content
  -a=[{value:1,name:"test1"},{value:2,name:"test2"},{value:3,name:"test3"},{value:4,name:"test4"}]
  -b="test0"
  if ParamsGet.Recepices
    include recepices
  else if ParamsGet.Search
    include search
  else
    include menus