-Today= new Date(new Date().toDateString()).valueOf()
-console.log(Today)
-var findDate =  function(mydate, diff){ return mydate+(86400000*diff)}
-week=[Today, findDate(Today, 1), findDate(Today, 2), findDate(Today, 3), findDate(Today, 4), findDate(Today, 5), findDate(Today, 6)]
-day=["Petit déjeuner", "Déjeuner", "Dîner", "Encas"]
if ParamsGet.Menus=="All"
  div.menus
    each days in week
      .dotted-c
      div
        div
          h3=new Date(days).toLocaleDateString()
          .mdj
              div
                h4 Petit déjeuner
                a(href="?Menus="+days)
                  div
                    img(src="", alt="Hummmm" height=80)
                    span Recette
              div
                h4 Déjeuner
                a(href="?Menus="+days)
                  div
                    img(src="", alt="Miam miam" height=80)
                    span Recette
              div
                h4 Dîner
                a(href="?Menus="+days)
                  div
                    img(src="", alt="Je vais me regaler" height=80)
                    span Recette
    .dotted-c
else
  div.menus
    each meals in day
      .dotted-c
      div
        div
          h3=meals
          .mdj
            div
              a(href="?Recepices=testA")
                div
                  img(src="", alt="Je vais me regaler" height=80)
                h4 Recette1
            div
              a(href="?Recepices=testB")
                div
                  img(src="", alt="Je vais me regaler" height=80)
                h4 Recette2
            div
              a(href="?Recepices=testC")
                div
                  img(src="", alt="Je vais me regaler" height=80)
                h4 Recette3
    .dotted-c