.recepices
  if ParamsGet.Recepices=="All" || ParamsGet.recepices=="All"
    ul.list.grid.columns2
      +newLis(db,"Nom", "Recepices")
  else if db.length==1
    .img
      img(src="/images/"+db[0].Image, alt=db[0].Nom)
    table
      thead
        tr
          th Préparation
      tbody
        each line in db[0].Preparation
          tr 
            td=line
  else
    h3 La recettes demandé est inconnu
