+newSelect(a,b)#myId.myClass

-inputs = [{label: "label1", id: "id1", attributes:[["name","name1"],["type","text"],["placeholder","number1"]]},{label: "label2", id: "id2", attributes:[["name","name2"],["type","password"],["placeholder","number2"]]},{label: "label3", id: "id3", attributes:[["name","name3"],["type","checkbox"]]}]

-test="newInput"

+#{test}(inputs, true)